/* footer styles */
/* .footer-container{
    width:100%;
    min-height:20px;
    background-color: #1d1d1d;
   
   
}
.footer-container .footer-links-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.footer-container .footer-links{
    display: inline-flex;
}
 
.footer-container .footer-links {
    list-style-type: none;
    
}
.footer-container .footer-links .footer-link{
    text-decoration: none;
    color: #cacabe;

}
.footer-container .footer-copyright a{
    color:#cacabe;
    text-decoration: none;

} */
.footer-main .footer-links, .footer-copy{
    display: flex;
    flex-direction: column;
    gap:8px;
    min-height: 100px;

}
/* .footer-main .footer-links .footer-copy{
    display: flex;
    flex-direction: column;
    gap: ;

} */

 .footer-links a, .footer-copy a{
    color:#ccc;
    
    

 }
 @media screen and (min-width:992px){
    .footer-main {
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        
    
    }
    .footer-main .footer-links, .footer-copy{
        display: flex;
        flex-direction: row;
    }
       
 }

/* footer styles end */
