*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#cacabe; 
  
}
.text-center{
    text-align: center;
}
.wrapper{
    max-width:1250px ;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

}

/* sidebar styles */
.sidebar-container{
    background-color: #1c1c1c;
    width:100%;
    height:250px;
    position: fixed;
    top:0;
    left:0;

}
.sidebar-container .close-button img{
    width:60px;
}
.sidebar-container .side-header{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* sidebar styles end */

/* adds on  */
/* wifi-section start  */

.symbol{
    margin-top:30px;
}
.symbol .fa-wifi{
    color:#fcfc10;
    font-size: 20px;
    margin-left: -48px;
    transform: translateX(60px) rotate(45deg);
  
}

.symbol span .card-year{
    display: inline;
    color:#fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-left: 65px;    
}
.rough-img {
    margin-top: 20x;
}

.rough-img img{
    width:200px;

}
/* wifi symbol end */
@media screen and (min-width:992px){
    .symbol .fa-wifi{
        margin-left: 5px;

    }
    .rough-img img{
        margin-left: 12%;

    } 
    .symbol span .card-year{
        display: inline;
        color:#fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        margin-left: 65px;    
    }
    #looking-more .looking-heading h4{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 28px;
        color: #ccc;
        
    }
   
     #looking-more {
        width:100%;
        padding: 30px; 
        border-radius: 5px;
        outline: 1px solid #353535;
        background-color: #1c1c1c;
        
    } 
    .search .box{
        width: 100%;
        height:35px;
       
    }
    #looking-more  .container .input-form{
        padding: 10px;
        outline: none;
    
    }
    .search{
        text-align: center;
       
     }
    
     .search .btn{
         border: none;
         outline: none;
         border-top-right-radius: 15px;
         border-bottom-right-radius: 15px;
         padding-left:15px ;
         padding-right: 15px;
         
     }
}
/* looking styles start */

#looking-more {
    /* width:100%; */
    padding: 30px; 
    border-radius: 5px;
    outline: 1px solid #353535;
    background-color: #1c1c1c;
    
}
#looking-more .looking-heading h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: #ccc;
    
}
#looking-more .looking-title p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 12px;
    color: #ccc;
}
#looking-more  .container .input-form{
    padding: 30px 18%;
    outline: none;

}
.search{
   text-align: center;
   padding: 20px;
   position: relative;
}
.search .box{
    width: 100%;
    height:35px;
   
}
.search .btn{
    position: absolute;
    top:20px;
    left:100%;
    border: none;
    outline: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-left:15px ;
    padding-right: 15px;
    
}

/* looking styles end */

/* adds omn end */


/*.single-featured-container{
    width:100%;
   


}
.single-featured-container .single-featured-image{
    width:100%;
    overflow: hidden;
    border-radius:10px;
    margin-top: 30px;
    /*margin-bottom: 10px;
    margin-left: 30px; */
    

/*}

.single-featured-image{
    aspect-ratio: 50/30;
}
.single-featured-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 10px;
    padding: 20px -60px; */
/*}
.single-featured-text-component .about-info{
    display:flex; 
    flex-direction: column; 
    gap:10px;
    
    
}
.single-featured .featured-center{
    margin-left: -30px;
} */
/* .single-featured{
    display: flex;
    justify-items: space-around;
    align-items: center; 
    
} */
/* .single-featured-text-component, .single-featured-image{
    flex:0 0 calc(60% - 50px); 
} 


.single-featured-container .about-info {
    font-size: 13px;
    text-transform: capitalize;
    color:#979797;
    margin-left: 25px;


} */
@media screen and (min-width:992px){
    /* .featured-center{
        position: relative;
        top:0;
        bottom:0;

    }
    .single-featured-container .about-info{
        margin-left: -400px;
        gap:20px;
        position: absolute;
        top:-130px;
        left:20px;
    } */
}

/* .single-featured-container .about-info  h2{
    color:#cacabe;
    font-size: 28px;
}
.single-featured-container .about-info .year{
    color:aliceblue;
}
.single-featured-container .about-info .gener{
    color:aliceblue;
}
.single-featured-container .about-info .cast{
    color:aliceblue;
   
}
.single-featured-container .about-info .director{
    color:aliceblue;
}

.single-featured-container .about-info i{
    color:#979797;
}
.single-featured-container .about-info .name{
    color:#979797;
    

}
.single-featured-container .about-info .d-name{
    color:#979797;
    

} */
 /* mobile view*/
.main-movie-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    padding: 5px 0;

}
.main-movie-container .main-poster-center{
    display: flex;
    width:100%; 
}
.main-movie-container .main-poster-center .main-image-container {
    width: 180px;
    height: 230px;
    padding: 20px;
}
.main-movie-container .main-poster-center .main-image-container img{
   width: 100%;
   height: 100%;
   border-radius: 6px;
} 
.main-movie-container .movie-details{
    padding: 20px 0px;
}
.main-movie-container .movie-details .movie-header{
    padding: 0px 15px;
}
.main-movie-container .movie-details .movie-dts{
    padding: 10px 15px;
}
.main-movie-container .movie-details h2{
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 20px;
}

.main-movie-container .movie-details p{
    font-size: 12px;
    color: #ccc;
    padding: 5px 0;
}

.main-movie-container .movie-details p .cast-names{
    color:#ccc;
    font-size: 13px;
    
}
.main-movie-container .movie-details p .director-name{
    color:#ccc;
  
    
}
.main-movie-container .movie-details p i{
    padding-right:5px ;
    
}

.movie-download-buttons{
    position: relative;
    

}
.movie-download-buttons .download-buttons{
    position: absolute;
    top:60px;
    display: flex;
    left: -80%;
   

}
.download-buttons .trai-btn{
    width:110px;
    padding: 15px 5px;
    text-transform: uppercase;
    background-color: #272727;
    border:none;
    color:#fcfcfc;
    outline: none;
    font-size: 10px;
    border-radius:5px;
    cursor: pointer;
    font-weight: 600;
    

}

.download-buttons .m-btn{
    text-transform: uppercase;
    margin-left:20px; 
    padding: 15px 5px;
    width:160px;
    color: black;
    border-radius:5px;
    outline: none;
    border: none;
    background-color: #fcfc0a;
    /* margin-bottom: 10px; */
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;


}
.download-buttons .m-btn i, .download-buttons .trai-btn i{
    padding-right: 10px;
    
}
.download-buttons .trai-btn i{
    font-weight: bolder;
    color: white;
    
}
.download-buttons .m-btn i{
    font-weight: bolder;
    
    
}

.main-container{
    width:100%;
}
.main-container .main-container-img{
    aspect-ratio: 350/200;
    padding-top: 100px; 
    padding-bottom: 10%;
    padding-left: 10px;
    padding-right: 10px;
}
.main-container .main-container-img img{
    width: 100%;
    object-fit: cover;

}
/* mobile view end */

@media screen and (min-width:992px){
    .main-movie-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:10px;
        padding: 30px 0;
    
    }
    .main-movie-container .main-poster-center{
        display: flex;
        width:80%;
    }
    .main-movie-container .main-poster-center .main-image-container {
        width: 280px;
        height: 460px;
        border-radius: 20px;
        padding: 40px 0;
    }
    .main-movie-container .main-poster-center .main-image-container img{
       width: 100%;
       height: 100%;
       border-radius: 6px;
    } 
    .main-movie-container .movie-details{
        padding: 30px 8%;
    }
    .main-movie-container .movie-details h2{
        letter-spacing: 1px;
        padding: 10px 0;
        font-size: 60px;
    }
    .main-movie-container .movie-details p{
        letter-spacing: 1px;
        padding: 2px 0;
        font-size: 16px;
    }
    .main-movie-container .movie-details p .cast-names{
        letter-spacing: 1px;
        color:#ccc;
        font-size: 14px;
        
    }
    .main-movie-container .movie-details p .director-name{
        letter-spacing: 1px;
        color:#ccc;
        font-size: 14px;
        
    }
    .main-movie-container .movie-details p i{
        padding-right:5px ;
        
    }
    
    .main-movie-container .movie-dts{
        padding: 40px 0;
    }
    .main-movie-container .movie-dts .movie-cast{
        padding: 8px 0;
    }
  
    .download-buttons .trai-btn{
        width:150px;
        height: 60px;
        text-transform: uppercase;
        background-color: #272727;
        border:none;
        color:#fcfcfc;
        outline: none;
        padding: 20px 10px;
        border-radius:5px;
        cursor: pointer;
        
    
    }
    
    .download-buttons .m-btn{
        text-transform: uppercase;
        margin-left: 20px; 
        width:180px;
        height: 60px;
        padding: 20px 10px;
        border-radius:5px;
        outline: none;
        border: none;
        background-color: #fcfc0a;
        /* margin-bottom: 10px; */
        cursor: pointer;
    
    
    }
    .download-buttons .m-btn i, .download-buttons .trai-btn i{
        padding-right: 10px;
        
    }
    .download-buttons .trai-btn i{
        font-weight: bolder;
        color: white;
        
    }
    .download-buttons .m-btn i{
        font-weight: bolder;
        
        
    }
    .movie-download-buttons{
        position: relative;
        
        
    }
    .movie-download-buttons .download-buttons{
        position: absolute;
        top:20px;
        left: 0px;
        padding-top: 30px;

    
    }
    .main-container{
        width:100%;
       
    }
    .main-container .main-container-img{
        aspect-ratio: 350/200;
        padding: 0 5%;
    }
    .main-container .main-container-img img{
        width: 100%;
        object-fit: cover;
    
    }
    
    .main-content p{
        display: inline-block;
    }
    .main-content .main-txt{
        color: #fcfc0a;
    }
    .main-content p{
        color:#979797;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    

}





/* main-content */

.main-content{
    margin-left: 10px;
    margin-bottom: 20px;
}
.main-content p{
    display: inline-block;
}
.main-content .main-txt{
    color: #fcfc0a;
}
.main-content p{
    color:#979797;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}




